body
{
	background-color: rgb(0, 0, 30);
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1
{
	color: white;
	line-height: 1.1;
	font-weight: normal;
	text-align: center;
	background-color: orangered;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

button
{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: orangered;
	transition: all 0.8s;
	outline: none;
}
input
{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: orangered;
	transition: all 0.8s;
	outline: none;
}

.square
{
	width: 30%;
	background-color: green;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 30%;
	transition: background 1s;
}

.selected
{
	color:white;
	background:orangered;
}
#winText
{
	color: orangered;
	display: inline-block;
	width: 20%;
}
#container
{
	max-width: 600px;
	margin:0 auto;
}

#options
{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

#rgbText
{
	font-size: 200%;
}
#quienesSomos
{
	color:yellow;
	padding: 25px 200px 75px 25px;
}

#queEs
{
	background-color:green;
	color:yellow;
	padding: 25px 25px 75px 200px;
}
#porQue
{
	background-color: rgb(244, 101, 65);
	color:rgb(66, 244, 223);
	padding: 25px 200px 75px 25px;

}
#footer
{
	background-color:gray;
	text-align: center;
	color:white;
	height:40px;
	padding-top: 20px;
}
#distintos
{
	background-color: rgb(163, 65, 244);
	color:rgb(244, 130, 65);
	padding: 25px 25px 75px 200px;
}
.leoSeccion
{
	background-color: rgb(45, 37, 36);
	color: rgb(239, 143, 9);
}
.ivanSeccion
{
	background-color:rgb(34, 114, 35);
	color: rgb(150, 43, 27);
}
.yisusSeccion
{
	background-color:rgb(53, 122, 242);
	color: rgb(206, 175, 70);
}
#infoIvan
{
	padding: 25px 50px 75px 600px;
}
#infoLeo
{
	padding: 25px 50px 75px 25px;
}
#infoYisus
{
	padding: 25px 50px 75px 25px;
}

input:hover
{
	color:white;
	background:orangered;
}
img {
	width: 10%;
	float: left;
	margin: 1.66%;
}
.derecha
{
	width: 10%;
	float: right;
	margin: 1.66%;
	padding-right: 100px
}
#conclusion
{
	background-color: black;
	color:rgb(214, 125, 17);
	text-align: center;
	font-size: 150%;
	padding: 25px 0px 75px 0px;
}